html,
body {
  height: 100%;
}

.profile-container {
  transform: translateY(20%);
  z-index: 2;
}
@media (max-width: 768px) {
  .profile-container {
    transform: translateY(22%);
  }
}

.profile-image {
  max-width: 200px;
  height: auto;
}
