/* TODO */
#to-do {
  color: white;
  background-color: var(--blue-green-color);
  padding: 80px 0;
}

#health-experts {
  color: black;
  background-color: white;
  padding: 80px 0;
}

/* LIFELINE PROGRAM */
#lifeline-program {
  color: black;
  background-color: #f6dba0;
  padding: 80px 0;
}
