/* DEFAULTS */
body {
  background-color: var(--blue-green-color);
}
.rounded-left {
  border-radius: 300px 0 0 300px;
}

.rounded-right {
  border-radius: 0 300px 300px 0;
}

.mw-custom {
  max-width: 500px;
}

@media (max-width: 768px) {
  .mw-custom {
    padding: 10px;
  }
  /* FIX: margin right not working */
  .rounded-right {
    /* margin-right: 40px; */
    width: 92%;
  }
  .rounded-left {
    margin-left: 40px;
  }
}

/* BOTTOM NAV */
.bottom-nav {
  background-color: var(--yellow-color);
}

/* OVERLAY TEXT */
.overlay-text {
  width: 45rem;
  margin-top: 200px;
}
.overlay-text span {
  font-size: 50px;
}
.overlay-text u {
  font-size: 50px;
  text-decoration: underline;
  text-decoration-color: #f6dba0;
}

/* CUSTOM BUTTON */
.custom-btn {
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  color: #007377;
  background-color: white;
  padding: 5px 23px;
  border-radius: 50px;
  border: 1px solid white;
}

.icon-circle {
  background-color: #007377;
  color: white;
  width: 25px;
  height: 25px;
  /* padding: 5px; */
  /* border: 6px solid #007377; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 10px;
}

.icon-circle .chevron-right {
  font-size: 3px;
  /* margin: 5px; */
}

/* .custom-btn:hover { */
/*   background-color: #f8f9fa; */
/* } */
/**/
/* .custom-btn:hover .icon-circle { */
/*   background-color: #005a5e; */
/* } */

/* TODO */
#to-do {
  color: white;
  background-color: var(--blue-green-color);
  padding: 80px 0;
}

#health-experts {
  color: black;
  background-color: white;
  padding: 80px 0;
}

/* LIFELINE PROGRAM */
#lifeline-program {
  color: black;
  background-color: #f6dba0;
  padding: 80px 0;
}

/* TROOLIFE COMMITED */
#troolife-commited {
  color: black;
  background-color: white;
  padding: 80px 0;
}
