/* DEFAULTS */
.rounded-left {
  border-radius: 300px 0 0 300px;
}

.rounded-right {
  border-radius: 0 300px 300px 0;
}

.mw-custom {
  max-width: 500px;
}

@media (max-width: 768px) {
  .mw-custom {
    padding: 10px;
  }
  /* FIX: margin right not working */
  .rounded-right {
    margin-right: 40px;
  }
  .rounded-left {
    margin-left: 40px;
  }
}

/* TODO */
#to-do {
  color: white;
  background-color: var(--blue-green-color);
  padding: 80px 0;
}

#health-experts {
  color: black;
  background-color: white;
  padding: 80px 0;
}

/* LIFELINE PROGRAM */
#lifeline-program {
  color: black;
  background-color: #f6dba0;
  padding: 80px 0;
}

/* TROOLIFE COMMITED */
#troolife-commited {
  color: black;
  background-color: white;
  padding: 80px 0;
}
